.font-title {
    font-weight: 500 !important;
    color: black !important;
    font-size: 40px !important;
}

.font-subTitle {
    font-weight: 500 !important;
    color: black !important;
    font-size: 30px !important;
}

.font-text {
    margin: 0;
    font-weight: 500 !important;
    color: rgb(20, 20, 20) !important;
    font-size: 20px !important;
}

.main-container {
    margin: auto;
    width: 80% !important;
    height: 100% !important;
    margin-top: 55px;
    margin-bottom: 4%;
}

.products-container {
    margin: auto;
    width: 65% !important;
    height: 100% !important;
    margin-top: 55px;
    margin-bottom: 4%;
}

.navbar-container {
    margin: auto;
    display: flex;
    width: 65% !important;
    padding: 0 !important;
    height: 100%;
}

.navbar {
    margin: 0 !important;
    padding: 0 !important;
}

footer {
    background-color: #d3d3d3;
    height: 208px !important;
    width: 100% !important;
}

.custom-control:focus {
    outline: none !important;
}

input.custom-control-input:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.organoBanner {
    background-image: url(https://i.imgur.com/K1EL2gX.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em;
    width: 100%;
    margin-top: 55px;
}