.font-title {
    font-family: 'Poiret One', cursive !important;
    font-weight: 500 !important;
    color: black !important;
    font-size: 40px !important;
}

.font-subTitle {
    font-family: 'Poiret One', cursive !important;
    font-weight: 500 !important;
    color: black !important;
    font-size: 30px !important;
}

.font-text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    color: rgb(20, 20, 20) !important;
    font-size: 20px !important;
}

.products-container {
    margin: auto;
    width: 65% !important;
    height: 100% !important;
}

.navbar-container {
    margin: auto;
    display: flex;
    width: 65% !important;
    padding: 0 !important;
    height: 100%;
}

.navbar {
    margin: 0 !important;
    padding: 0 !important;
}

footer {
    background-color: #008542;
    margin-top: 40px;
    height: 150px;
    width: 100%;
}